@mixin mg($num,$max:30,$step:2) {
  @if $num <= $max {
    .mg#{$num} {
      margin: torpx($num * 2);
    }
    .mgtb#{$num} {
      margin: torpx($num * 2) 0;
    }
    .mglr#{$num} {
      margin: 0 torpx($num * 2);
    }
    .mgl#{$num} {
      margin-left: torpx($num * 2);
    }
    .mgt#{$num} {
      margin-top: torpx($num * 2);
    }
    .mgr#{$num} {
      margin-right: torpx($num * 2);
    }
    .mgb#{$num} {
      margin-bottom: torpx($num * 2);
    }
    @if $num < $max {
      @include mg($num + $step, $max, $step);
    }
  }
}